<p id="notice"><%= notice %></p>

<h1>Listing Admins</h1>

<table>
  <thead>
  <tr>
    <th>Person</th>
    <th>Password</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @admins.each do |ad| %>
          <tr>
            <td><%= ad.name %></td>
            <td><%= ad.password_digest%></td>
            <td><%= link_to 'Delete', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'Add administrator', :action => 'new' %>
<%= link_to 'Back to menu', admin_menu_path %>
<br>
